<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mastermind</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Mastermind game!</h1>
        <main id="app">
            <div id="mastermind">
                <p id="ai-code" :class="{'result-row': true, hide: !gameOver}">
                    <span v-for="index in solution">{{colorArray[index]}}</span>
                </p>
                <h2 v-if="gameOver" id="message">
                    {{won ? 'You won' : 'You lost, try again'}}
                </h2>

                <div id="history-container">
                    <div v-for="guessItem in guessHistory" class="history-item">
                        <p class="result-row">
                            <span v-for="index in guessItem.code"
                                >{{colorArray[index]}}</span
                            >
                        </p>
                        <p>{{guessItem.correctPlaceCount}} kleuren juist</p>
                        <p>
                            {{guessItem.correctCount}} kleuren juist maar op de
                            foute plaats
                        </p>
                    </div>
                </div>
            </div>

            <div id="game-btn-container" :class="{'do-not-show': gameOver}">
                <h3>Give a code.</h3>
                <p id="guess-input" class="result-row">
                    <span v-for="index in currentGuess">
                        {{colorArray[index]}}
                    </span>
                </p>
                <div class="btn-container" id="btn-container">
                    <button
                        v-for="(color, index) in colorArray"
                        @click="addColor(index)"
                        class="select-btn"
                    >
                        {{color}}
                    </button>
                </div>
                <div class="btn-container">
                    <button @click="undo" class="select-btn" id="undo-btn">
                        Undo
                    </button>
                    <button @click="submit" class="select-btn" id="submit-btn">
                        Submit
                    </button>
                </div>
            </div>
            <div id="restart-btn-container" :class="{'do-not-show': !gameOver}">
                <button @click="initGameState" class="select-btn" id="restart">
                    New Game
                </button>
            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>
