<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Four in a row</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
            <main>
                <div class="board">
                    <div
                        class="board-col"
                        v-for="(col, colIndex) in board"
                        :key="'col_' + colIndex"
                        @click="colClicked(colIndex)"
                    >
                        <div
                            :class="{'board-cell': true, ['board-cell--' + cell]: true}"
                            v-for="(cell, rowIndex) in col"
                            :key="'row_' + rowIndex"
                        ></div>
                    </div>
                </div>

                <p v-if="gameOver" class="message">
                    Game over: {{turn === 1 ? 'geel' : 'rood'}} is gewonnen.
                </p>

                <p v-if="gameFull" class="message">Draw</p>

                <div>
                    <button
                        v-if="gameOver || gameFull"
                        @click="reset"
                        type="button"
                    >
                        Restart
                    </button>
                </div>
            </main>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>
